

/* Global */

@font-face {
    font-family: 'Avgard';
    src: url('./fonts/Avgard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avgard';
    src: url('./fonts/Avgard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

          /* *************************************************************************hero */

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avgard', sans-serif;
    color: #B7AB98;
  }

  html {
    background-color: rgb(7, 7, 7);  
    scroll-behavior: smooth;

  }
 

  .fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 1s ease-out;
  }


  
  .fade-up.visible {
    opacity: 1;
    transform: translateY(0);
  }


  /* header */          /* *************************************************************************hero */


  header {
    background: linear-gradient(
      to bottom,
      rgba(7, 7, 7, 1) 0%,

    
      rgba(7, 7, 7, 0) 100%
    );
    display: flex;
    position: fixed;
margin-left: auto;
margin-right: auto;
width: 100%;  
 padding-left: 1rem;
padding-right: 1rem;  
height: 3rem; 
z-index: 1000;
  }

  footer {
    position: fixed;
    width: 100%;
    background: linear-gradient(
      to top,
      rgba(7, 7, 7, 7) 0%,
     
      rgba(7, 7, 7, 0) 100%
    );    
    z-index: 1000;

    height: 3rem; 
    bottom: 0;  
  }

  header ol {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 1rem; 
    margin-left: auto;

    gap: 0.3rem;
    z-index: 1000;
  }

  header ol a {
    text-decoration: none;
text-align: right; 
font-weight: bolder;
font-size: 0.9rem;
z-index: 1000;
  }
          /* *************************************************************************hero */


.hero-section {
  height: 100vh;
 text-align: center; 
 display: flex;
 flex-direction: column;
 padding-top: 30%;
  background-image: url(./imgs/Mobile\ wallpaper.png);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

.hero-section h1 {
  font-size: 4.9rem; 
  line-height: 0.9;
 
}

.hero-section span {
  color: #EB3939;
}

.hero-section h3 {
  letter-spacing: 0.4rem;   
}

    /* hero */          /* *************************************************************************hero */



.introduction-section {
  padding-top: 5rem ;

  

}

.introduction-section h1  {
  font-size: 4.9rem; 
  line-height: 0.9;
  padding-left: 1rem;
  padding-right: 1rem;
}

.introduction-section span {
  color: #EB3939;
}

.introduction-section p {
  padding-top: 2rem;

  font-weight: bolder;
  padding-left: 1rem;
  line-height: 1.5rem;
  padding-right: 1rem;
}
.introduction-content img {
  width: 100%;
  }
  
  .writing-image {
    flex: 1;
  }
.introduction-content  {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

    /* hero */          /* *************************************************************************hero */



.moto-section  {
  height: 90vh;  
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moto-content h3 {
  font-size: 0.9rem; 
  color: #EB3939;
  padding-left: 1rem;
  padding-right: 1rem; 
  margin-bottom: 1rem;

}
.moto-section  h1{
  font-size: 4.3rem; 
  line-height: 0.9;
  padding-left: 1rem;
  padding-right: 1rem; 
  
}

.moto-section span {
  color: #EB3939;

}

.line {
  width: 100%; 
  height: 0.1rem;
  opacity: 0.3;   
  background-color: #B7AB98;
}
          /* *************************************************************************hero */

    /* hero */

    .reason-section {
      height: 80vh; 
      width: 100%; 
      background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat; 
      background-image: url(./imgs/Young-noback.png);
      display: flex;
      align-items: end;
      padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 2rem; 

    }


 

    .reason-content h1 {
      font-size: 4.9rem; 
      line-height: 0.9; 
    }

    .reason-content h3{
      font-size: 0.9rem; 
      color: #EB3939;
      margin-bottom: 1rem;
    }
    .reason-content span {
      color: #EB3939;

    }

    .reason-content p {
      font-weight: bolder;
      font-size: 2.7rem;
      line-height: 2.5rem;

    }
   /* hero */          /* *************************************************************************hero */


    .writing-section    {
      padding-top: 10rem; 
      text-align: center;
      padding-left: 1rem; 
      padding-right: 1rem;
      padding-bottom: 6rem; 

    }

    .writing-content p {
      font-size: 2.9rem; 
      line-height: 0.9; 
      font-weight: bold;
    }

    .writing-content span {
      color: #EB3939;

    }





          /* *************************************************************************hero */



    .model-section {
      padding-bottom: 5rem;
      padding-left: 1rem; 
      padding-right: 1rem;
    }

    .model-content  {
text-align: center; 
width: 100%;
    }

    .model-content h3 {
      font-size: 1rem;
    }

    .items {
      padding-top: 6rem;
      width: 100%;  
      display: grid; 
      text-align: left;
      grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
column-gap: 0.7rem;
row-gap: 1rem; 
    }

    .items h2{
      font-size: 1.1rem; 
      color: #EB3939;
      font-weight: bolder; 
 
    }


    .item-content  img{
      width: 100%;
    }

    .items p {
  
        text-transform: uppercase;
    font-weight: bolder;
    }


          /* *************************************************************************hero */




    .closing-section {
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
      padding-bottom: 6rem;
    }
    .closing-section-content {

      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    .closing-section-content h1 {
      width: 100%;
      font-size: 1.6rem; 
      margin-inline: auto; 
    }

    .closing-section-content span {
      color: #EB3939;

    }

    .closing-section-content p {
      text-transform: uppercase;
      font-size: 0.8rem; 
      line-height: 1.4rem;
      font-weight: bold;
    }
          /* *************************************************************************hero */

    @media (min-width: 400px) {
      .moto-content  h1{
        font-size: 5rem; 
        line-height: 0.9;
        padding-left: 1rem; 
        padding-right: 1rem; 
        
      }
    }

          /* *************************************************************************hero */





          header {
            background: transparent;
        height: 10rem; 
          }
        
          footer {
          
            background: transparent;

        height: 10rem; 
          }








































          





    @media (min-width: 1000px) {
     * {
      cursor: none;
     }
      .custom-cursor {
        width: 20px;
        height: 20px;
        background-color: #EB3939;
        border-radius: 50%;
        position: fixed;
        opacity: 0.8;
        pointer-events: none;
        transform: translate(-50%, -50%);
        z-index: 9999;
        transition: transform 0.15s ease, width 0.15s ease, height 0.15s ease;
      }
      
      /* Enlarged state */
      .custom-cursor.hovering {
        width: 64px;
        height:  64px;
        opacity: 0.6; 
        transform: translate(-50%, -50%) scale(1.5);
      }

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 18px;
}

/* Scrollbar Thumb (the part you drag) */
::-webkit-scrollbar-thumb {
  background-color: #EB3939;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background-color: #1a1a1a; /* Optional, adjust as needed */
}
/* Optional, adjust as needed *//* Optional, adjust as needed *//* Optional, adjust as needed */
      header ol a {
   
    font-size: clamp(1.5rem, 2vw, 4rem);
    color: #7a7367;
    transition: color 0.3s ease; 

      }

      header ol a:hover {
   
        font-size: 2.5rem;
color: #B7AB98;          }



      header ol {
    
        padding-left: 3rem; 
        padding-top: 3rem; 
        margin-right: 2rem; 
      }

          /* *************************************************************************hero */


.hero-section {
        height: 100vh;
       text-align: center; 
       display: flex;
       flex-direction: column;
       padding-top: 0;
       justify-content: center;
        background-image: url(./imgs/Wallpaper-desktop.png);
        background-size: cover;      
        background-position: center; 
        background-repeat: no-repeat;

        
      }



      .hero-section h1 {
        font-size: clamp(3.5rem, 7vw, 10.8rem); 
        line-height: 0.9;
       
      }

      .hero-section h3 {
        font-size: 2rem; 
      }
          /* hero */


          /* *************************************************************************hero */



          .introduction-section {
            padding-top: 0 ;
            display: flex;
             
          
          }


          .introduction-content  {
flex-direction: row;          }

.introduction-content img {
width: 100%;
}

.writing-image {
  flex: 1;
}


.introduction-writing  {
  flex: 1; 
  padding-top: 10rem; 
}



.introduction-section h1  {
  font-size: clamp(3.5rem, 6vw, 10.8rem); 
  padding-left: 5rem;
}

.introduction-section p {
  font-weight: bolder;
  padding-left: 5rem;
  font-size: clamp(1rem, 2vw, 2rem);  
  line-height: 3rem;
  padding-top: 4rem; 
}




          /* *************************************************************************hero */

          .moto-section  {
            height: auto;  
            padding-top: 20rem; 
            padding-bottom: 0;  

            display: flex;
            flex-direction: column;
            justify-content: center;
          }



          .moto-content h3 {
            font-size: 0.9rem; 
            color: #EB3939;
          
          }
          .moto-section  h1{
            font-size: clamp(1rem, 9vw, 14rem);  
            padding-left: 15rem;
            
          }


          /* *************************************************************************hero */

          .reason-section {
            height: 100vh;  
           
            background-image: url(./imgs/Desktop-youngman.jpg);
         
      padding-left: 15rem; 
      padding-right: 15rem; 
  
          }






          .reason-content h1 {
            font-size: 4.9rem; 
            line-height: 0.9; 
          }
      
          .reason-content h3{
            font-size: 5.9rem; 
            color: #EB3939;
            margin-bottom: 1rem;
          }
          .reason-content span {
            color: #EB3939;
      
          }
      
          .reason-content p {
            font-weight: bolder;
            font-size: clamp(1rem, 4vw, 15rem); 
            line-height: 8.5rem; 
      
          }

          .writing-section    {
            padding-top: 30rem;
            text-align: center;
            padding-left: 1rem; 
            padding-right: 1rem;
            padding-bottom: 12rem;  
      
          }




          .writing-content p {
            font-size: clamp(3rem, 6vw, 16rem); 
            line-height: 0.9; 
            width: 85%;
            margin-inline: auto;
            font-weight: bold;
          }
      
          .writing-content span {
            color: #EB3939;
      
          }
      




          .model-section {
            padding-left: 1rem; 
            padding-right: 1rem;
          }








          .items {
            padding-top: 16rem;
            width: 100%;  
            display: grid; 
            text-align: left;
            grid-template-columns: repeat(3, 1fr); /* 2 equal columns */
      column-gap: 1rem;
      row-gap: 8rem; 
          }


          .items h2{
            font-size: 3.1rem; 
            color: #EB3939;
            font-weight: bolder; 
       
          }
      
      
         

          .items p {
  
          font-size: 2rem;
        }
    

        item-content .hide  {
          display: none; 
        }

.closing-section h1 {
  font-size: 5rem; 
  padding-top: 14rem;

}

.closing-section-content p {
  font-size: 1.4rem;
  line-height: 2rem; 
  padding-bottom: 4rem; 
}


    }